<h1>Are you ready for the game of your life?</h1>
<h2>To play the game:</h2>
   <p>Type 'fun_game' into the url bar followed by rock, paper, or scissors
     followed by a / and then your second choice</p>
